@use 'src/styles/color';

.game-overview {
  min-height: 100vh;

  .headline {
    padding-top: 2.5rem;
    margin-top: 0;
    text-align: center;
    font-size: 3rem;
  }

  .error {
    text-align: center;
  }

  .game-list-wrapper {
    margin: 0 10% 2rem 10%;
    max-height: calc(100vh - 15rem);
    overflow-y: auto;
  }

  .game-element-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;

    .game-title {
      font-size: 1.35rem;
    }

    &:not(:last-child) {
      border-bottom: 1px solid color.$football-baseline-color;
    }

    &:not(:first-child) {
      border-top: 1px solid color.$yellow-green-border;
    }
  }
}