@use "src/styles/color";

.score {
  grid-area: score;
  font-size: 1.125rem;
  //font-weight: bold;
  padding: 1rem 5rem 1rem 5rem;

  :is(.playerScore, .opponentScore) {
    flex-grow: 1;
    border-top: 2px solid color.$score-border;
    border-bottom: 2px solid color.$score-border;
  }

  .playerScore {
    background-color: color.$player;
    padding: 0 0.75rem 0 1.25rem;
    border-right: 2px solid color.$score-border;
    border-left: 1px solid color.$score-border;
    border-top-left-radius: 1.85rem 50%;
    border-bottom-left-radius: 1.85rem 50%;
  }

  .opponentScore {
    background-color: color.$opponent;
    padding: 0 1.25rem 0 0.75rem;
    border-right: 1px solid color.$score-border;
    border-left: 2px solid color.$score-border;
    border-top-right-radius: 1.85rem 50%;
    border-bottom-right-radius: 1.85rem 50%;
  }
}