@use "src/styles/color";

.gameBoard {
  margin: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 1.5fr 1.5fr 1fr;
  grid-template-areas:
    ".          score      score        ."
    ".          info       info         ."
    "playerDeck playerCard opponentCard opponentDeck";
}

.infoField {
  grid-area: info;
}

.deck {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60vh;
  background-color: transparent;
}

.player-deck {
  grid-area: playerDeck;
  border-right: 2px solid color.$border-color;
}

.player-card {
  grid-area: playerCard;
}

.opponent-deck {
  grid-area: opponentDeck;
  border-left: 2px solid color.$border-color;
}

.opponent-card {
  grid-area: opponentCard;
}

.vs {
  position: absolute;
  left: 0;
  translate: -50%;
  font-weight: bold;
  font-size: 3rem;
}

.victory-wrapper {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;

  .victory-content {
    position: relative;
    top: 50%;
    left: 50%;
    translate:  -50% -25%;
    background-image: url("/src/assets/wood-pattern.png");
    background-color: #330800;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    border: solid #330800 2px;
    width: 18rem;
    animation: game-over-animation 1.25s ease-in-out;
    animation-iteration-count: 1;
  }

  .victory-image {
    width: 15rem;
    margin: auto;
    position: relative;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: 0;
  }

  .game-over-text {
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 50%;
    translate: -50% -100%;
    font-size: 3.25rem;
    font-weight: bold;
    color: silver;
    -webkit-text-stroke: 2px black;
    text-align: center;
  }
}

@keyframes game-over-animation {
  0% {
    transform: scale(0.0);
  }
  85% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1.0);
  }
}