//body
$background: darkgreen;
$green-gradient: radial-gradient(circle, seagreen 0%, darkgreen 100%);
$font-color: #ededed;

//lobby
$football-base-color: #c66029;
$football-border: 5px solid black;
$football-baseline-color: white;
$football-button-font-color: darkgreen;
$football-button-action-background: darkgreen;
$football-button-action-font-color: #fff;

//game
$playerScore: blue;
$opponentScore: red;