//body
$background: darkgreen;
$green-gradient: radial-gradient(circle, seagreen 0%, darkgreen 100%);
$font-color: #ededed;

//lobby
$football-base-color: #c66029;
$football-border: 5px solid black;
$football-baseline-color: white;
$button-font-color: darkgreen;
$button-border-color: darkgreen;
$button-action-background: darkgreen;
$button-action-font-color: #fff;

//game
$player: blue;
$opponent: red;
$card-content: floralwhite;
$border-color: darken(white, 20%);
$wood-color: #330800;
$game-over-font: silver;
$game-over-font-stroke: black;
//score
$score-border: darken(white, 20%);
//infoField
$info-background: floralwhite;
$font-color-25-black: lighten(black, 25%);
$font-color-45-black: lighten(black, 45%);