@use "src/styles/color";

.score {
  grid-area: score;

  :is(.playerScore, .opponentScore) {
    flex-grow: 1;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }

  .playerScore {
    background-color: color.$playerScore;
    padding: 0 0.75rem 0 1.25rem;
    border-right: 2px solid black;
    border-left: 1px solid black;
    border-top-left-radius: 25%;
    border-bottom-left-radius: 25%;
  }

  .opponentScore {
    background-color: color.$opponentScore;
    padding: 0 1.25rem 0 0.75rem;
    border-right: 1px solid black;
    border-left: 2px solid black;
    border-top-right-radius: 25%;
    border-bottom-right-radius: 25%;
  }
}