@use "src/styles/color";

body {
  background: color.$background;
  background: color.$green-gradient;
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  color: color.$font-color;
  margin: 0;

  .backdrop-active {
    position: absolute;
    inset: 0;
    background-color: color.$football-baseline-color;
    opacity: 0.4;
    pointer-events: all;
  }
}

.flex-row {
  display: flex;
}

.justify-content-space-between {
  justify-content: space-between;
}