@use "src/styles/color";

body {
  background: color.$background;
  background: color.$green-gradient;
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  color: color.$font-color;
}

.flex-row {
  display: flex;
}

.justify-content-space-between {
  justify-content: space-between;
}