@use 'src/styles/color';

.lobby {
  min-height: 100vh;
  h1 {
    padding-top: 2.5rem;
    margin-top: 0;
    text-align: center;
    font-size: 3rem;
  }

  .football-menu{
    position: absolute;
    overflow: hidden;
    height: 31.25rem;
    width: 18.75rem;
    background-color: color.$football-base-color;
    border-radius: 50%;
    border: color.$football-border;
    top: 50%;
    left: 50%;
    translate: -50% -40%;

    .football-basic-line-class {
      position: absolute;
      background-color: color.$football-baseline-color;
    }

    .football-line {
      height: 2.125rem;
      width: 100%;
    }

    .top-line {
      top: 10%;
    }

    .bottom-line {
      bottom: 10%
    }

    .football-stitching {
      position: relative;
      height: 12.5rem;
      width: 1.875rem;
      top: 50%;
      left: 50%;
      translate: -50% -50%;

      .stitch-button-line {
        height: 2rem;
        width: 7rem;
        left: -130%
      }

    .stitch-button-2 {
        top: 50%;
        transform: translateY(-50%);
      }

      .stitch-button-3 {
        bottom: 0;
      }
    }
  }
}