@use "src/styles/color";

.card {
  min-width: 14rem;
  aspect-ratio: 3 / 4;
  border-radius: 1rem;
  border: 2px solid color.$border-color;
}

.card-absolute {
  position: absolute;
}

.card-clickable {
  cursor: pointer;
  &:is(:hover, :focus){
    scale: 1.1;
    rotate: 2deg;
    transform: translateX(10%);
  }
}

.card-display-none {
  display: none;
}

.card-player {
  background-color: color.$player;
  transition: all 500ms ease;
}

.card-opponent {
  background-color: color.$opponent;
}

.card-content {
  background-color: color.$card-content;

  h3 {
    color: color.$font-color-25-black;
    text-align: center;
  }

  .attributes-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 0.5rem 0.125rem 0.5rem;
    padding: 0.125rem;
    width: 90%;
    background-color: transparent;
    border: none;
    font-size: 1rem;
    cursor: pointer;

    p {
      margin: 0;
      font-weight: bold;
      color: color.$font-color-45-black;
    }
  }
}

.attributes-border-player {
  &:is(:hover, :focus) {
    outline: 2px solid color.$player;
    outline-offset: .125rem;
    border-radius: 0.25rem;
  }
}

.attributes-border-opponent {
  &:is(:hover, :focus) {
    outline: 2px solid color.$opponent;
    outline-offset: .125rem;
    border-radius: 0.25rem;
  }
}

.border-player {
  border: 2px solid color.$player;
}

.border-opponent {
  border: 2px solid color.$opponent;
}

.card-isEmpty {
  background-color: transparent;
}

.card-button {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}