@use 'src/styles/color';

.button {
  padding: 0.375rem 0.5rem;
  background-color: color.$football-baseline-color;
  border-radius: 0.5rem;
  color: color.$button-font-color;
  border: 2px solid transparent;
  font-weight: bold;
  font-size: 1.1rem;

  &:is(:hover, :focus) {
    background-color: color.$button-action-background;
    border-color: color.$football-baseline-color;
    color: color.$football-baseline-color;
  }

  &.icon-button {
    //noinspection CssNoGenericFontName
    font-family: "Material Symbols Outlined";
  }
}